.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  gap: 16px;
}

.search-row {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.todo-card {
  border: 1px solid #ccc;
  margin: 8px;
  padding: 8px;
  display: inline-block;
  width: 300px;
}

.todo-card-content {
  text-align: center;
}

.mat-card-actions button {
  margin-right: 8px;
}
